{% extends 'layout.njk' %}

{% block head%}

    <title> About - rocketseat </title>

{% endblock %}

{% block header%}
    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="classes.njk" >Students</a>
        </div>
    </header>
{% endblock %}

{% block content %}

<form div class="card" method="POST" action="/teachers">
    <section class="avatar" 
    style="background: url(https://source.unsplash.com/collection/1603248/500x500) no-repeat center center / cover">            
    </section>

    <section class="details">
        <h3>Novo professor</h3>

        <div class="item">
            <div>Avatar Url</div>
            <div>
                <input 
                    type="url" 
                    name="avatar_url"
                >
            </div>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>
                <input 
                    type="text" 
                    name="name"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                    type="date" 
                    name="birth"
                >
            </div>
        </div>

        <div class="item">
            <div>Escolaridade</div>
            <div>
                <select name="schooling" class="select">
                    <option value=EM>Ensino médio completo</option>
                    <option value=ES>Ensino superior completo</option>
                    <option value=ME>Mestrado completo</option>
                    <option value=DR>Doutorado completo</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>
               <span><input type="radio" name="teachType" value="distance">À distancia</span>
               <span><input type="radio" name="teachType" value="classroom">presencial</span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação</div>
            <div>
                <input 
                    type="text" 
                    name="services"
                    placeholder="Separe os serviços prestados por vírgula"
                >
            </div>
        </div>

        <button type="submit">Salvar dados</button>

        

                
    </section>

</form>
</div>

{% endblock %}
